.card {
   overflow: hidden;
}

#R-overlay {
   top: 40vw;
   overflow: hidden;
}

.star{
   display: inline;
   margin-right: .3vw;
   margin-left: .3vw;
   align-self: center;
}

.R-text > h3, .R-text > p {
   color:rgb(255, 255, 255) !important; 
   margin: 2px;
   font-size: 1.8vw;
  }

.card:hover .card-img {
   opacity: 0.2;
}

.card:hover #R-overlay {
   top: .5vw;
   transition: all 1.5s;
}

.carousel-control-prev,
.carousel-control-next {
  width: 4vw !important;
  height: 4vw;
  margin: auto;
}

@media screen and (max-width:630px)
   {
      .text > h3 {
         color:rgb(246, 244, 244) !important; 
         margin: 2px;
         font-size: 2.5vw;
      }

      .text > p {
         color:rgb(246, 244, 244) !important; 
         margin: 2px;
         font-size: 2.3vw;
      }

      .star{
         display: inline;
         margin-right: .7vw;
         margin-left: .7vw;
         width: 3vw;
         align-self: center;
      }
   }
