.DP-container {
    background: linear-gradient(rgba(5,7,12,0.85), rgba(5,7,12,0.85)), url('https://image.tmdb.org/t/p/original/4SMqo8Me8aCT4KAVLeG9pk8VYiN.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#DP-poster {
    width: 70%;
    border: 1px solid white;
    border-radius: 10px;
}

.DP-informacion {
    color: white;
}


