.imgProgramador {
    align-items: center;
}

.imgProgramador img {
    width: 100%; 
    border-radius: 10px;
}

.datosProgramador {
    border-radius: 10px;
    text-align: center;
}

.datosProgramador p {
    text-align: justify;
    margin: 1px;
    font-size: 1rem;
}

.datosProgramador h3 {
    padding-top: 3px;
}
