
.imgProgramador img {
    width: 100%; 
    border-radius: 10px;
}

.datosProgramador {
    text-align: center;
}

.datosProgramador p {
    text-align: justify;
    margin: 2px;
    font-size: 1rem;
}

