@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Oswald:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

#inTheater, #Trending{
    margin-left: 15px;
    color: white;
    
}
body {
    background-color: black !important;
}