#logo-header{
  width: 13vw;
  height: 6vw;
  margin: 0px 0px 0px 20px;
}

header.header{
  display: flex;
  width: 100%;
  align-items: center;
}

nav{
  display: flex;
  margin-left: auto;
  align-items: center;
}

.icon-nav{
  width: 1.2vw;
  height: 1.2vw;
}

.link{
  text-decoration: none;
  margin: 50px 40px;
}

.link:visited{
  color: white;
}

.input-element {
  margin: 40px 0px;
  display: none;
}

.container-icon-nav{
  margin: 0px 50px 0px 50px;
}

