
#Carousel{
  display: flex;
  height: 90vw !important;
  margin-bottom: 15px;
  overflow-y: hidden;
}

#poster1, #poster2, #poster3 {
  width: 100% !important;
  opacity: 0.2;
}

.estrella {
  display: inline;  
  margin: 3px;
  width: 3.2vw;
}

.duracion > img {
  padding-bottom: 5px;
  width: 3.2vw;
}

#pos1-estrella5 {
  display: none;
}

.caption {
  top: 25vw;
}

.caption > h2, .caption > p {
  font-size: 2vw;
  margin: 4px;
  padding: 1px;
}

#sinopsis-poster1, #sinopsis-poster2, #sinopsis-poster3  {
  text-align: justify;
}

@media screen and (max-width:630px){
  .caption > h2, .caption > p {
    font-size: 2.8vw;
    margin: 4px;
    padding: 1px;
  }
}
