#overlay {
   top: 40vw;
   overflow: hidden;
}

.card:hover .card-img {
   opacity: 0.2;
}

.card:hover #overlay {
   top: 10vw;
   transition: all 1.5s;
}

.carousel-control-prev,
.carousel-control-next {
  width: 4vw !important;
  height: 4vw;
  margin: auto;
}
