.e-Container {
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
  }
  
.e-Container video{
    width: 45vmax;
    margin: 0;
    padding: 0;
}

#e-Letras {
    color: rgb(233, 238, 245);
    font-size: 2vw;
    padding: 0px;
    margin: 0;
    padding: 0;
}


@media screen and (max-width:630px){
    #e-Letras {        
        font-size: 5vw;        
    }
}

.e-button{
    padding: 13px 30px;
    border-radius: 15px;
    border: 1px solid red;
    background: rgb(5, 129, 245);
    color: white;
}