#PS-overlay {
   top: 40vw;
   overflow: hidden;
}

.card:hover .PS-card-img {
   opacity: 0.2;
}

.card:hover #PS-overlay {
   top: .5vw;
   transition: all 1.5s;
}

.carousel-control-prev, .carousel-control-next {
  width: 4vw !important;
  height: 4vw;
  margin: auto;
}
