    .g-4 {
    margin-top: 15px;
    margin-bottom: 15px;
    }
   
    .t-card {
     width: 30vw !important;
     padding: 0px ;
     margin-left:10px;
     margin-bottom: 10px;
     margin-right:10px;
     border: 0px !important;
    }
   
    .t-star{
     display: inline;
     margin-bottom: 1px;
     width: 3vw;
    }
   
    .t-text > h3 {
   color:rgb(255, 255, 255) !important; 
     margin: 2px;
     font-size: 2.1vw;
    }
    
    .t-text > p {
     color:rgb(255, 255, 255) !important; 
     margin: 2px;
     font-size: 1.8vw;
    }
    
    #t-overlay {
     top: 43vw;
     overflow: hidden;
    }
   
    .t-card:hover .t-card-img {
      opacity:0.2;
    } 
   
    .card:hover #t-overlay{
     top: .5vw;
     transition: all 1.5s;
    }
 
   .t-card-img {
     width: 100% !important; 
     height: 100% !important;
    }

    @media screen and (max-width:630px)
   {
      .t-text > h3, .t-text > p {
         color:rgb(246, 244, 244) !important; 
         margin: 2px;
         font-size: 2vw;
      }
   }